/* TabsTrigger active state styling using Radix data attributes */
[data-radix-tabs-trigger][data-state="active"] {
  background-color: rgb(var(--bg)) !important;
  color: rgb(var(--text)) !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

[data-radix-tabs-trigger][data-state="inactive"] {
  background-color: transparent !important;
}
